{% extends "base.html" %}

{% block content %}

			<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}" />

<style>


</style>
<div class="site-section pl-lg-5" align="center">
<section class="site-section pl-lg-5 ">
             <div class="row pl-lg-5">
          <div class="col-md-4 pl-lg-5">
            <div class="post-entry pl-lg-5">
              <img src="{{url_for('static', filename='img/admin.jpg')}}" alt="Image placeholder" class="img-fluid">
              <div class="body-text">
                <div class="category">Admin</div>
                <h3 class="mb-3"><a href="#">Shubham Singh</a></h3>
                <p>Computer Engineer, Developer, Programmer. I am Indian. I have developed this Pyblog web app for personal technical blogging. i will happy to connect technical person. Please Connect me on LinkedIn !!!  </p>
                <p><a href="https://www.linkedin.com/in/imshubh17/" class="btn btn-primary btn-outline-primary btn-sm">Connect Me</a></p>
              </div>
            </div>
          </div>
             </div>
</section>
</div>
{% endblock %}